<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Fady/IdeaProjects/CRUD Operation Script/src/test/java">
        <classes>
            <class name="com.CRUDOperationTask.TestCases.AddAndDeleteRecipe">
                <methods>
                    <include name="AddNewRecap"/>
                    <include name="DeleteRecipe"/>
                </methods>
            </class>
            <class name="com.CRUDOperationTask.TestCases.EditOnRecipeTest">
                <methods>
                    <include name="EditOnRecipe"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>